mixin menu(menu, className)
    ul(class=`${className}-menu`)
        each item in menu
            li(class=`${className}-menu__item`)
                a(href=`${item.link}` class=`${className}-menu__link`) #{item.title}

mixin skills(skills)
    ul.skills
        each item in skills
            li.skills__item
                .skills-row__title #{item.title}
                ul.skills-row__list
                    each items in item.list
                        li.skills-row__item
                            svg.circles(viewbox='0 0 110 110')
                                circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                circle.circle__second.circle-50(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                            .skills-row__item-title=`${items}`

mixin contacts(contacts)
    .contacts
        .contacts__subtitle
            .title.subtitle Контакты
        ul.contacts__list
            each item in contacts
                li.contacts__item
                    a.contacts__link(href=`${item.link}${item.data}`)
                        svg.contacts__icon
                            use(xlink:href=`./assets/images/symbol/sprite.svg#${item.icon}`)
                        .contacts__data=`${item.data}`